<% if errors.present? %>
  <ul>
    <% errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for shop, url: '/shops' do |s| %>
  <table>
    <tr>
      <td id="name">Shop Name</td>
      <td><%= s.text_field :name, maxlength: 256, size: 25 %></td>
    </tr>
    <tr>
      <td id="description">Shop Description</td>
      <td><%= s.text_area :description, size: '60x12' %></td>
    </tr>
    <tr>
      <td id="subdomain">Subdomain</td>
      <td><%= s.text_field :subdomain, maxlength: 25 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= s.submit 'Create', id: 'create_shop' %></td>
    </tr>
  </table>
<% end %>
