<!DOCTYPE html>
<html>
  <head>
    <title>Brainspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_merchant %>
        Signed in as <%= current_merchant.name %> | <%= link_to 'Logout', '/merchant/logout' %>
    <% else %>
        <%= link_to 'Login', '/merchant/login' %> | <%= link_to 'Signup', '/merchant/signup' %>
    <% end %>

    <%= yield %>
  </body>
</html>
