<!DOCTYPE html>
<html>
  <head>
    <title>Brainspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_merchant %>
        Signed in as <%= current_merchant.email %> | <%= link_to 'Dashboard', "#{home_url}" %>
        <br>
        <%= link_to 'Logout', "#{home_url}/merchants/logout", id: 'logout' %>
    <% else %>
        <%= link_to 'Login', "#{home_url}/merchants/login", id: 'login' %> | <%= link_to 'Signup', "#{home_url}/merchants/signup", id: 'signup' %>
    <% end %>

    <%= yield %>
  </body>
</html>
